body,
html {
    margin: 0;
    height: 100%;

}

* {
    box-sizing: border-box;
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    background: url(./assets/carrer/mahakam-bridge.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.header img {
    width: 75%;


}

.menu {
    display: flex;
    justify-content: flex-end;
    background-color: gray;
    color: black;
    max-width: 100%;
    letter-spacing: 3px;
}

.btn.btn-secondary.change-color {
    color: black;
    font-family: 'Acme', sans-serif;
    font-size: 24px;
    letter-spacing: 3px;
}

.btn.btn-secondary.change-color:hover {
    color: white;
    font-family: 'Acme', sans-serif;
    font-size: 24px;
    letter-spacing: 3px;
}

.btn.btn-secondary.dropdown-toggle.change-color {
    color: black;
    font-family: 'Acme', sans-serif;
    font-size: 24px;
    letter-spacing: 3px;
}

.btn.btn-secondary.dropdown-toggle.change-color:hover {
    color: white;
    font-family: 'Acme', sans-serif;
    font-size: 24px;
    letter-spacing: 3px;
}

.dropdown-item.change-color {
    background-color: grey;
    letter-spacing: 3px;
}

.dropdown-item.change-color:hover {
    background-color: rgb(66, 65, 65);
    color: white;
    font-family: 'Acme', sans-serif;
    font-size: 24px;
    letter-spacing: 3px;
}
.background {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.content {
    margin: 0;
    height: 700px;
    width: 100%;
    background-image: url("./assets/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    

}
.left-content {
    width: 50%;
    height: 700px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/background1.jpg");
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px)
    
}
.left-content img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.right-content {
    width: 50%;
    min-height: 700px;
    float: right;
}
.right-content-top {
    width: 100%;
    height: 700px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family:  'Acme', sans-serif; color: white;
    background-color: rgb(46, 45, 45);
    word-spacing: 4px;
    letter-spacing: 2px;
}
.right-content-bottom {
    width: 50%;
    height: 0px;
    float: right;
    word-spacing: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    word-spacing: 1px;
    
    
}

.right-content-bottom img{
    width: 40px;
    height: 40px;
    display: flex;
    
}